body {
    background-image: url(http://img07.deviantart.net/ca14/i/2013/092/9/f/ancient_origins___grunge_image_by_aschefield101-d606hn7.jpg);
    background-size: 1700px; 100px
   
  
}
p{
    color:#252E47;
    font-family: sans-serif;
}
ul{
    color:#252E47;
    font-family:sans-serif;
}