body {
    background-image: url(http://m.rgbimg.com/cache1r7FsV/users/x/xy/xymonau/600/nbtGNnI.jpg);
    background-size: 1700px; 100px
    
	
  
}
p{
    color:#252E47;
    font-family: sans-serif;
}
ul{
    color:#252E47;
    font-family:sans-serif;
}